{% extends 'base/base.html' %}
{% block title %}TERMS & CONDITIONS{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1 class="text-center text-1 spc-down" style="font-weight: bold;">TERMS & CONDITIONS</h1>
    <div class="container">
    <div class="jumbotron bg-light">
      <code class="text-3 text-dark">
        <p class="lead text-justify" style="font-weight: bold; margin: 4em;">
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
          IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
          FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
          AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
          LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
          OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
          SOFTWARE.
        </p>
      </code>
    </div>
    </div>
  </div>
{% endblock %}
